body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 5px;
  background-color: white;
  opacity: 0.9;
  min-width: 100px;
  border-radius: 5px;
  text-align: center;
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  height: 15px;
}

.legend-item i {
  width: 10px;
  height: 10px;
}